.chart {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
  color: #4a4a4a;
}

.chartRow {
  display: table-row;
}

.chartRow:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cell {
  display: table-cell;
}

.word {
  width: 18%;
}

.bar {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 100%;
  height: 12px;
  background: #e5e5e5;
  vertical-align: top;
  box-sizing: border-box;
}

.fill {
  display: inline-block;
  background: #00a680;
  height: 12px;
  position: absolute;
  width: 70%;
}

.num {
  width: 8%;
  text-align: right;
  color: #767676;
}