.mainContainer {
  padding: 24px;
  margin: 0 36.5px;
}

.bookPhotoContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.bodyTitle {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 25px;
  padding: 24px;
}

body {
  color: #4a4a4a;  
}

h1 {
  color: black;
}