.topContainer {
  display: flex;
  flex-direction: column;
}

.bubbles{
  margin-right: 3px;
}

.row {
  display: flex;
  flex-direction: row;
}

.firstRowItem {
  margin: 0px 20px 0px 0px;
}

.rowItem {
  padding: 0px 20px;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #e5e5e5;
}

.decor:hover {
  text-decoration: underline;
  cursor: pointer;
}

.saveContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
  justify-content: flex-end;
}

.save {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}
