.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.mapContainer {
  width: 25%;
  border: 2px solid red;
  min-height: 340px;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 15px 0 0;
}

.c1 {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #e5e5e5;
}

.desc {
  padding: 0 0 25px 0;
  margin: 0 0 25px 0;
  border-bottom: 1px dotted #d6d6d6;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
}

.rating {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial;
  color: #00a680;
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
  justify-content: flex-end;
  color: #069;
}

.reviews:hover {
  cursor: pointer;
  text-decoration: underline;
}

.talkAbout {
  font-size: 14px;
  font-weight: bold;
  color: #767676;
}

.keywords {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.keywordRow {
  display: flex;
  flex-direction: row;
}

.section {
  margin: 12px 20px;
}