.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.mapContainer {
  width: 25%;
  min-height: 340px;
}

.colContainer {
  display: flex;
  flex-direction: row;
}

.desc {
  padding: 0 0 25px 0;
  margin: 0 0 25px 0;
  border-bottom: 1px dotted #d6d6d6;
}
