.photos {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 830px;
  min-width: 710px;
  text-align: center;
  margin: 0 8px 0 8px;
}

.main img {
  min-width: 510px;
  min-height: 420px;
  max-width: 590px;
  max-height: 421px;
  margin-right: 1px
}

.column {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 590px;
}

.sidePhoto img {
  min-width: 210px;
  min-height: 140px;
  max-width: 250px;
  max-height: 140px;
  margin: 0 8px 0 0;
}

.mid img {
  margin-top: 1px;
  margin-bottom: 1px;
  min-width: 210px;
  min-height: 139px;
  max-width: 250px;
  max-height: 139px;
  margin: 0 8px 0 0;
}